// BULMA defaults
@use "bulma/sass/base";
@use "bulma/sass/components";
@use "bulma/sass/elements";
@use "bulma/sass/form";
@use "bulma/sass/grid";
@use "bulma/sass/helpers";
@use "bulma/sass/themes";
@use "bulma/sass/utilities";

// BULMA custom components
@import "custom-layout";
@import "custom-styles";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "../fontawesome/scss/fontawesome";
@import "../fontawesome/scss/solid";

:root {
    --bulma-family-primary: Nunito Sans,SF Pro,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica,Arial,sans-serif;
    --bulma-family-secondary: Nunito Sans,SF Pro,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica,Arial,sans-serif;
    --bulma-link-h: 198deg;
    --bulma-link-l: 10%;
}


